{% extends 'base.html' %}

{% block content %}
    <h1>Carrinho de compras</h1>

    {% if cart_items %}
        <ul>
            {% for item in cart_items %}
                <li>
                    {{ item.item.name }} - {{ item.item.price }} - Quantidade: {{ item.quantity }}
                    <a href="{% url 'remove_from_cart' item.id %}">Remover</a>
                </li>
            {% endfor %}
        </ul>

        <p>Total: {{ cart_total }}</p>

        <a href="{% url 'checkout' %}">Finalizar compra</a>
    {% else %}
        <p>Seu carrinho de compras está vazio.</p>
    {% endif %}
{% endblock %}
