{% extends 'base.html' %}

{% block content %}
    <h1>Purchase History</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Item</th>
                <th scope="col">Date</th>
                <th scope="col">Quantity</th>
            </tr>
        </thead>
        <tbody>
            {% for purchase in purchases %}
                <tr>
                    <td>{{ purchase.item.name }}</td>
                    <td>{{ purchase.date }}</td>
                    <td>
                        <ul>
                            {% for history in purchase.purchasehistory_set.all %}
                                <li>{{ history.quantity }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3">No purchases made yet.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
